{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" href="{% static './multimedia/logo_BC13.ico' %}">
    <title>Biblioteca Comunal 13 :: Editar usuario</title>
</head>
<body>
  <div class="modal-header">
  <div class="register__alldata">
    <h5 class="modal-title">Editar Usuario</h5>
    <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Cerrar">x</button>

<div class="modal-body">
  <form method="post" id="editarUsuarioForm" data-usuario-id="{{ usuario.id }}">
  {% csrf_token %}
  {{ form.as_p }}
</form>
</div>

<div class="modal-footer">
  <button type="button"  data-bs-dismiss="modal" class="cancel-button">Cancelar</button>
  <button type="submit"  form="editarUsuarioForm">Guardar cambios</button>
</div>
  </div>
</div>
</body>
</html>