{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Comunal 13 :: Recuperar contraseña</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container bona-nova-sc-bold">
      <img src="{% static 'multimedia/logo_BC13.png' %}" alt="Logo Biblioteca Comunal 13" width="150" class="image__center">
         <h1>Recuperar contraseña</h1>
    <p>Ingresá el e-mail asociado a tu cuenta y te enviaremos un enlace para resetear la contraseña.</p>

    <form method="post">
      {% csrf_token %}
      {{ form.email.label_tag }}
      {{ form.email }}
      <button class="bona-nova-sc-regular" type="submit">Enviar enlace</button>
    </form>

    {% if form.errors %}
      <div class="errors">
        {{ form.errors }}
      </div>
    {% endif %}

    <p><a href="{% url 'index' %}">Volver al inicio</a></p>
    </div>
</body>
</html>