{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Comunal 13 :: Correo enviado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container bona-nova-sc-bold">
      <img src="{% static 'multimedia/logo_BC13.png' %}" alt="Logo Biblioteca Comunal 13" width="150" class="image__center">
        <h1>Contraseña actualizada</h1>
        <p>Tu contraseña fue cambiada con éxito. Ahora podés iniciar sesión.</p>
        <p><a href="{% url 'index' %}">Iniciar sesión</a></p>
    </div>
</body>
</html>